{% extends 'layout.html' %}
{% load static %}

{% block body %}

<form class="form-inline"style="margin-top:25px;">
{% csrf_token %}
    <input class="form-control mr-sm-2" type="text" name="keyword" placeholder="Search" aria-label="Search">
    <div class="col-md-6">
    <select name="category" class="form-control">
    <option value="" disabled selected>Select a Country</option>
    {% for cat in cate  %}
    <option value="{{cat}}">{{cat}}</option>
    {% endfor %}
    

    </select>
</div>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
<div class="row" style="margin-top:25px;">
{% for article in articles %}

  
  <div class="card" style="width: 15rem;" style="margin-top:2px;margin-left:5px;">
  <span class="badge badge-secondary">{{article.category}}</span>
  <img src="{{article.article_img.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{article.title}}</h5>
    <p class="card-text">By {{article.author}}, {{article.category}}</p>
    <p class ="card-text">{{article.content|safe|truncatewords:10}}</p>
    <a href="{%url 'articles:detail' article.id %}" class="btn btn-primary">Read More ...</a>

  </div>
  
</div>
{% endfor %}

<div class="col-md-12">
<div class="col-md-6">
<ul class="list-group list-group-flush">
  
{% for article in articles %}

<a href='#' class="list-group-item">
  <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            
            {{article.content|safe|truncatewords:7}}
          </div>
        </div>
        </a>
        {% endfor %}
</ul>
</div>
<div class="col-md-4"></div>
</div>


{% include "include/paginator.html" with	page=articles %}
{% endblock body %}
